/*body *{
	border: 1px solid white;
}*/

body{
	background-color: black;
}

/*Scrolling Background CSS**************************/
#background{
	background-image: url("/images/danger-big.png");
	background-size: 333px;
	background-repeat: repeat-x;
	height: 333px;
	width: 100%;
}
/***************************************************/


#header-title{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 75px;
	margin: auto;
}

#header-title h2{
	font-family: 'Stalinist One', sans-serif;
}

.header{
	position: relative;
	margin: auto;
	text-align: center;
	top: -80px;
}

.header *{
	color: white;
	font-family: 'Orbitron', sans-serif;
}

.article{
	position: relative;
	width: 500px;
	top: -50px;
	margin: auto;
}

.article p{
	color: white;
}

.centered button{
	width: auto;
	position: relative;
	left: 140px;
	text-align: center;
}

#skull{
	position: relative;
	width: 400px;
	height: 400px;
	margin: auto;
	/*background-image: url("/images/skull-invert.png");*/
	/*background-size: 100% 100%; */
}

#upload-button{
	margin: auto;
}

.panel-heading{
	text-align: center;
}

#file-upload{
	position: relative;
	margin: auto;

}

.review-image{
	position: relative;
	display: block;
	margin: auto;
	border: 5px dashed red;
}
