<div id="review-panel" class="panel panel-default center">
  	<div class="panel-body">
  		<h3 id="killer-text">Yes, this will probably kill you.</h3>
		</br>
		<img class="review-image" src=<%= @image.url %>>
  	</div>
    <img id='bars-left' class="bars" src="/images/bars.png">
    <img id='bars-right' class="bars" src="/images/bars.png">
    <img id='metal-door' class="center" src="/images/metal_door.jpg" alt="metal door">
</div>

<audio id="siren" src="/sounds/siren.mp3">


