#center.panel.panel-danger
  .panel-body
    %h1 What scares you?
    %form#upload-form(method="post" enctype='multipart/form-data')   
      %input(type='file' name='myfile')    
      %br
      %input(type='submit' value='Will This Kill Me?')
