<div class="header">
	<h1>Life is Dangerous</h1>
	<h3>Question Your Safety</h3>
</div>

<div class="article">
	<p>The world is a scary place. Every day hundreds of thousands of people around the world die, many of whom never even saw it coming. Life is filled with objects and people just waiting  to kill you. Take your safety into your own hands and ask the most important question:</p>
	</br>
	<span class="centered">
		<button id="will-kill" type="button" class="btn btn-lg btn-danger" aria-label="Left Align">
		  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
		  Will This Kill Me?
		  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
		</button>
	</span>
	<p></p>
</div>